@import "../../variable.scss";

.Footer {
	background-color: $Dark;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 120px;
	color: lightcyan;
	display: flex;
	padding: 20px;

	p {
		// font-size: large;
		margin: 10px 0px;
	}

	.Brand {
	}
	.PhoneContainer {
		width: fit-content;
		display: flex;

		p {
			margin-right: 20px;
			margin-left: 20px;
		}
	}
	.Email {
		text-transform: lowercase;
	}
}
