$Orange: rgb(252, 203, 112);
$Cyan: lightcyan;
$Gray: #778da9;
$Dark: #1b263b;

// Background Colours
$OrangeBackground: #dc2f02;
$LightBlueBackground: #0077b6;
$DarkBlueBackground: #03045e;
$YellowBackground: #faa307;
$LightYellowBackground: rgb(252, 203, 112);
$RedBackground: #c1121f;
$CyanBackground: #bbd0ff;

// Text Colours
$WhiteText: white;
$BlackText: #0d1321;

// Text Fonts
$TextFont: "Rubik", sans-serif;

// Effects
$Shadow: 10px 10px 10px $Dark;
$MedShadow: 5px 5px 5px $Dark;
$LightShadow: 3px 3px 3px $Dark;
